body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-43px;
  width:1670px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:174px;
}
#u6455 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:62px;
  width:129px;
  height:174px;
  display:flex;
}
#u6455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:558px;
}
#u6456 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:2px;
  width:1285px;
  height:558px;
  display:flex;
}
#u6456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:74px;
}
#u6457 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:101px;
  width:98px;
  height:74px;
  display:flex;
}
#u6457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6458 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:253px;
  width:360px;
  height:56px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6458 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6458_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
